/* App.css */

/* Center everything on the page */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

/* Style the input box */
input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  width: 250px;
}

/* Style the button */
button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

/* Styling for the loading text */
h1 {
  color: #333;
  font-size: 24px;
}

/* Styling for the FetchComponent */
img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: -144px;
}

div {
  text-align: center;
}

p {
  font-size: 18px;
  color: #666;
  margin: 5px 0;
}
